<main class="py-5">
  <app-section-header [logoClass]="'iconSection'" [sectionName]="'CONTACT ME'" [nameColor]="'#2C3E50'" [nameSize]="'50'"></app-section-header>
  <div class="form w-25 m-auto">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput class="pt-3">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input matInput class="pt-3">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput class="pt-3">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <textarea matInput class="pt-5"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Send</button>
    </form>
  </div>

</main>
