

<header>
  <div class="container">
    <div class="w-100 d-flex justify-content-between align-items-center py-4 px-5">
      <h3 class="header-title" [routerLink]="''">START ANGULAR</h3>
      <div class="navs">
        <a [routerLink]="'/portfolio'" routerLinkActive="link-active"  class="px-4">PORTFOLIO</a>
        <a [routerLink]="'/about'" routerLinkActive="link-active"  class="px-4">ABOUT</a>
        <a [routerLink]="'/contact'" routerLinkActive="link-active"  class="px-4">CONTACT</a>
      </div>
    </div>
  </div>
</header>
